.mainColumn {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-self: center;

  &__picture {
    margin: auto;
    margin-bottom: 20px;
    width: 80%;
    border-radius: 50%;
  }
}

.recentPost {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 30px;

  &__image {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;

    &__0 {

      border-radius: 0 50% 0 50%;
    }

    &__1 {
      border-radius: 50% 0 50% 0;
    }

    &__2 {
      border-radius: 0 50% 0 50%;
    }
  }

  &__description {
    display: inline-block;

  }
}