@import "constants";
@import "navbar";
@import "responsive";
body {
  // background: $primary-color;
  color: set-text-color($primary-color);
  height: 100vh;
  font-family: "Kalam", cursive;

  // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}
